
h1{
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    font-size: 65px;
}

/* ---------------------------------------------

Tabla de contenidos
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */

/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/